@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
:root{
    --dark:#34495E;
    --light:#fffff;
    --success: #0ABF30;
    --error:#E24D4C;
    --warning: #E9BD0C;
    --info: #3498DB;
}
*,
*::after,
*::before{
    margin: 0; padding: 0;
    border: none; outline: none;
    box-sizing: border-box;
    box-sizing: inherit;
    text-decoration: none;
}
*::selection{
    background-color: var(--yellow);
    color: var(--red);
}
::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: var(--yellow);
}
html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;stop-opacity: 7rem;
}
body{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    box-sizing: border-box;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--dark);
}

.notifications{
    
    position: fixed;
    top: 30px;
    right: 20px;
}
.notifications :where(.toast, .column){
    display: flex;
    align-items: center;
}
.notifications .toast{
    width: 400px;
    position: relative;
    overflow:hidden;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background: white;
    justify-content: space-between;
    animation: show_toast .7s ease-in-out forwards;
}
i{
    cursor: pointer;
}

@keyframes show_toast{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-5%);
    }
    50%{
        transform: translateX(0px);
    }
    70%{
        transform: translateX(-4%);
    }
    85%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-10px);
    }
}
.notifications .toast.hide{
    animation: hide_toast .7s ease-in-out forwards;
}
@keyframes hide_toast{
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-4% );
    }
    70%{
        transform: translateX(0px);
    }
    85%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(120%);
    }
}
.toast::before{
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    bottom: 0px;
    left:0px;
    background-color: red;
    animation: progress 5s linear forwards;
}
@keyframes progress{
    100%{
        width: 0%;
    }
}
.toast.success::before{
    background-color: var(--success);
}
.toast.error::before{
    background-color: var(--error);
}
.toast.warning::before{
    background-color: var(--warning);
}
.toast.info::before{
    background-color: var(--info);
}

.toast .column i{
    font-size: 1.75rem;
}
.toast.success .column i{
    color: var(--success);
}
.toast.error .column i{
    color: var(--error);
}
.toast.warning .column i{
    color: var(--warning);
}
.toast.info .column i{
    color: var(--info);
}
.toast .column span{
    font-size: 1.07rem;
    margin-left: 12px;;
}
.toast i:first-child{
    color: #aeb0d7;
    cursor: pointer;
}
.toast i:first-child:hover{
    color: var(--dark);
}
.buttons .btn{
    color:  #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    font-size: 1.2rem;
    
}
#success{
    background-color: var(--success);
}
#error{
    background-color: var(--error);
}
#warning{
    background-color: var(--warning);
}
#info{
    background-color: var(--info);
}
@media (max-width: 800px){
    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}